/js_br3tt/cache/imgcache
/components
/avcodec-fb2k-57.dll
/avutil-fb2k-55.dll
/foobar2000.exe
/installer.ini
/portable_mode_enabled
/Query Syntax Help.html
/shared.dll
/titleformat_help.css
/titleformat_help.html
/zlib1.dll
/library
/wavecache.db
/wsh_data
/playlists-v1.3
/autobackup
/version.txt
/running
/user-components/foo_foobarCon/albumart.db-shm
/user-components/foo_foobarCon/albumart.db-wal
/user-components/foo_foobarCon/albumart.db
