/js_br3tt/cache/imgcache
/components
/avcodec-fb2k-57.dll
/avutil-fb2k-55.dll
/foobar2000.exe
/installer.ini
/portable_mode_enabled
/Query Syntax Help.html
/shared.dll
/titleformat_help.css
/titleformat_help.html
/zlib1.dll
/library
/wavecache.db
/wsh_data
/playlists-v1.3
/autobackup
/version.txt
/running
/user-components/foo_foobarCon/albumart.db-shm
/user-components/foo_foobarCon/albumart.db-wal
/user-components/foo_foobarCon/albumart.db
/themes/Album List + Properties (tabbed) + Visualisations.fth
/themes/Album List + Properties (tabbed).fth
/themes/Album List + Properties + Visualisations.fth
/themes/Album List + Properties.fth
/themes/Album List + Visualisation (alternate).fth
/themes/Album List + Visualisation.fth
/themes/Black.fth
/themes/Blue.fth
/themes/Dark Blue.fth
/themes/Dark Grey Magenta.fth
/themes/Dark Grey Orange.fth
/themes/Dark Orange.fth
/themes/Default Playlist.fth
/themes/Faded.fth
/themes/Forum.fth
/themes/Gray Orange.fth
/themes/Gray.fth
/themes/Group by Albums.fth
/themes/Hello Kitty.fth
/themes/Olive.fth
/themes/Orange.fth
/themes/Pastel Green.fth
/themes/Separate Album & Artist Columns.fth
/themes/Shades of Grey.fth
/themes/Simple Playlist + Tabs.fth
/themes/Slim View + Tabs.fth
/themes/System Default.fth
/themes/Vintage.fth
/themes/Visualisation + Cover Art + Tabs.fth
/themes/White.fth
/themes/Yellow.fth
/index-data
/runtime
/doc
/vcruntime140.dll
/PP-UWP-Interop.dll
/msvcp140.dll
